
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary:#6366f1;
    --secondary: #ec4899;
    --bg-body: #f1f5f9;
    --bg-card: #ffffff;
    --text-muted: #64748b;
    --border-color: #e2e8f0;
    --header_color: #3730a3;
    --footer_color:  #3730a3;

}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-body);
    color: var(#64748b);
    line-height: 1.6;
}

header {
    background-color: var(--header_color);
    padding: 13px;
    text-align: center;
}

.container_1 {
    color: #ffffff;
}


main {
    display: flex;
    gap: 20px;
    max-width: 1100px;
    margin: 30px auto;
    padding: 0 20px;
}


article {
    background-color: var(--bg-card);
    padding: 25px;
    border-radius: 8px;
    flex: 3;
}


.container_2 {
    color: var(--primary);
    margin-bottom: 15px;
}

.container_3 {
    color: var(--primary);
    margin-bottom: 8px;
}

.p {
    margin-bottom: 15px;
    font-size: 17px;
}


aside {
    background-color: var(--bg-card);
    padding: 20px;
    border-radius: 8px;
    flex: 1;
}

aside section {
    margin-bottom: 20px;
}


.nav-link,
aside a {
    text-decoration: none;
    color: var(--primary);
    transition: color 0.3s ease;
}

.nav-link:hover,
aside a:hover {
    color: var(--primary);
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 8px;
}

section h3 {
    margin-bottom: 10px;
}

section div {
    background-color: var(--bg-card);
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
}

footer {
    background-color: var(--footer_color);
    color: var(--bg-card);
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
